<!DOCTYPE html>
<html>
<head>
    <title>Thesis Search</title>
</head>
<body>
    <h1>Thesis Search</h1>
    <form method="GET" action="{% url 'search_thesis' %}">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
    {% if theses %}
        <ul>
            {% for thesis in theses %}
                <li>{{ thesis.title }} - {{ thesis.author }} <br>
                {{thesis.abstract}} <br>
                {{thesis.year_published}} <br>
                <a href="{% url 'add_comment' thesis.id %}">Comments</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No theses found.</p>
    {% endif %}

</body>
</html>