<!DOCTYPE html>
<html>
<head>
    <title>Thesis Search</title>
</head>
<body>
    <h1>Thesis Search</h1>
    <form method="GET" action="{% url 'search_thesis' %}">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for thesis in theses %}
            <li>{{ thesis.title }} - {{ thesis.author }} <br>
            {{thesis.abstract}} <br>
            {{thesis.year_published}}</li>
        {% empty %}
            <li>No theses found.</li>
        {% endfor %}
    </ul>
</body>
</html>